- var collection = find(collections, {'name': page.collection})

ul.breadcrumb
  li.non-mobile
    a(href=site.url)= site.title

  if page.pagination
    if page.num == 1
      li= collection.title
    else
      li
        a(href=url_for(collection.name))= collection.title

    li page #{page.num} of #{page.pagination.totalPages}
  else
    li= page.title
    li.mobile page 1 of 1
