- var _pageTitle = page.title || page.name || site.name
- var pageTitle = _pageTitle == 'home' ? site.title : _pageTitle
- var pageURL = page.path ? url_for(page.path) : site.url
- var pageTags = page.tags || site.tags
- var pageDesc = page.description || site.description
- var pageImage = url_for(page.image || 'images/logo.png')
- var pageContentType = page.contentType || 'article'

//- https://moz.com/blog/meta-data-templates-123

//- Google data
meta(itemprop='name', content=pageTitle)
meta(itemprop='description' content=pageDesc)
meta(itemprop='image' content=pageImage)

//- Twitter Card data
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@'+laicos.twitter.user)
meta(name='twitter:title', content=pageTitle)
meta(name='twitter:creator', content='@'+laicos.twitter.user)
meta(name='twitter:image', content=pageImage)
meta(name='twitter:description', content=pageDesc)
meta(name='twitter:image:src', content=pageImage)

//- Open Graph data
meta(property='og:title', content=pageTitle)
meta(property='og:type', content=pageContentType)
meta(property='og:url', content=pageURL)
meta(property='og:site_name', content=site.title)
meta(property='og:image', content=pageImage)
meta(property='og:image:width', content=500)
meta(property='og:image:height', content=439)
meta(property='og:description', content=pageDesc)

if pageTags && pageTags.length
  each tag in pageTags
    meta(property='og:article:tag', content=tag)

meta(property='fb:admins', content=laicos.facebook.id)
