- var user = page.user || laicos.flickr.user
- var source = '//www.flickr.com/photos/' + user + '/' + page.id
- var latlon = page.latitude + ',' + page.longitude
- var gMapURL = 'https://www.google.com/maps/place/'
- var project = get_mentioned_projects(locals.portfolio, page)

.meta
  ul.tl
    if page.latitude && page.longitude
      - var locURL = gMapURL + latlon + '/@' + latlon + ',6z/'
      - var location = page.location || latlon

      li
        a(href=locURL, target='_blank', rel='noopener noreferrer')= location
    else if page.location
      li= page.location

    if page.aperture
      li ƒ/#{page.aperture}

    if page.exposure
      li= page.exposure

    li= page.views

    if project
      li
        a(href=url_for(project.path))= project.title

    li
      a(href=source, target='_blank', rel='noopener noreferrer') flickr

  ul.tl
    if page.location || (page.latitude && page.longitude)
      li location

    if page.aperture
      li aperture

    if page.exposure
      li exposure

    li views

    if project
      li project

    li source
