.meta
  ul.tl
    li= page.language || 'n/a'
    li.non-mobile= page.stargazers_count || 0
    li.non-mobile= page.forks || 0
    // li= page.version || '0.0.0'
    li
      a(href=page.html_url, target='_blank', rel='noopener noreferrer', title='view on github') github
    if page.homepage
      li
        a(href=page.homepage, target='_blank', rel='noopener noreferrer', title='view live site') view
  ul.tl
    li.mobile lang
    li.non-mobile language
    li.non-mobile stars
    li.non-mobile forks
    // li version
    li source
    if page.homepage
      li website
