- var pageDesc = page.description || site.description

meta(charset='utf8')
meta(http-equiv='content-type', content='text/html; charset=utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')

meta(name='author', content=site.author)
meta(name='description', content=pageDesc)
//- meta(name='DC.date.issued', content='2012-07-16T06:00-05:00')
//- meta(name='date', content='2012-07-16')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
meta(name='format-detection', content='telephone=no')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')

link(rel='shortcut icon', type='image/x-icon', href=url_for('favicon.ico'))
link(rel='icon', type='image/svg+xml', href=url_for('icons/favicon.svg'))
link(rel='mask-icon', href=url_for('icons/favicon.svg'), color='white')

for size in ['152', '144', '114', '72', '57']
  - var sizes = size + 'x' + size
  link(rel='apple-touch-icon', sizes=sizes, href=url_for('icons/apple-touch-icon-' + size + '.png'))
  link(rel='apple-touch-icon-precomposed', sizes=sizes, href=url_for('icons/apple-touch-icon-' + size + '.png'))

for size in ['196', '160', '96', '32', '16']
  - var sizes = size + 'x' + size
  link(rel='icon', sizes=sizes, type='image/png', href=url_for('icons/favicon-' + size + '.png'))

link(rel='canonical', href=site.url)

- var rssURL = url_for(paths.rss)
link(rel='alternate', type='application/rss+xml', href=rssURL, title=site.description)
