include _mixins/navbar

doctype html
html(lang=site.language, prefix='og: http://ogp.me/ns#')
  head
    - var cssURL = url_for(fingerprint[paths.css + '/main.css'])
    include _partials/site-meta
    include _partials/laicos-meta
    link(rel='stylesheet', href=cssURL, type='text/css')

    block title
      if site.subtitle
        title #{site.title} | #{site.subtitle}
      else
        title= site.title

  body
    block nav
      +navbar()

    section#content
      .container
        block content
        block aside

    block alt
    block paginator
    include _partials/laicos-icons
    include _partials/footer
    script(async src=url_for(fingerprint[paths.js + '/bundle.js']))
