include _mixins/navbar

doctype html
html(lang=site.language, prefix='og: http://ogp.me/ns#')
  head
    - var href = url_for(fingerprint['styles/main.css'])
    include _partials/site-meta
    include _partials/social-meta
    link(rel='stylesheet', href=href, type='text/css')

    block title
      if site.subtitle
        title #{site.title} | #{site.subtitle}
      else
        title= site.title

  body
    block nav
      +navbar()

    section#content
      .container
        block content
        block aside

    block alt
    block paginator
    include _partials/social-icons
    include _partials/footer
    script(src=url_for('scripts') + 'bundle.js')
