extends base
include _mixins/navbar
include _mixins/aside
include _mixins/utils
include _mixins/form

block title
  include _partials/title

block nav
  +navbar(page.name)

block content
  - var collection = locals[page.name]
  include _partials/collection-breadcrumb

  #category
    h1(class='category-title non-mobile')= page.title

    - var srcset = get_srcset('bird', {ext: 'png', source: 'local'})
    - var src = get_src('bird', null, {ext: 'png', source: 'local'})
    - var img_sizes = '(min-width: 1024px) 66vw, 100vw'
    - var img_title = 'Bird at fountain'

    .photo
      img.fit(title=img_title, sizes=img_sizes, srcset=srcset, src=src, alt=img_title)

    .gallery
      if page.name == 'gallery'
        div(class='category-tags non-mobile')
          +list-tags(tags_by_collection(collection), null, 2)

      .category-items
        if collection.pagination
          for post in page.data
            +get-link(post, 'lg', true)
        else
          for post in collection.data
            +get-link(post, 'lg', true)

block aside
  aside#aside
    +subscription(collection, 'index')
    +get-featured(collection, collection.count, 'datetaken')
    +get-recent(collection, collection.count, 'datetaken')
    +get-random(collection, collection.count, 'datetaken')

block paginator
  include _partials/paginator
