extends base
include _mixins/aside

block nav
  +navbar(site.name)

block content
  #intro
    - var srcset = get_srcset('logo', {ext: 'png', source: 'local'})
    - var src = get_src('logo', {ext: 'png', source: 'local'})
    - var img_sizes = '(min-width: 640px) 33vw, 100vw'

    img(class='cover logo', title=site.author, sizes=img_sizes, srcset=srcset, src=src, alt=site.author)

    .text
      .title
        h1= site.title
        p= site.subtitle

      div(class='description big')= site.description

      div(class='about hd')
        include _partials/about

  #categories
    each category in collections
      if category.show
        div(class='category category-' + category.name)
          h2
            a(href=url_for(category.name))= category.name

          +get-featured(category)

          unless category.name === 'blog'
            +get-recent(category, category.count, category.filterby)

    div(class='category category-about handheld')
      include _partials/about

  div(id='about', class='about-home lapdesk')
    include _partials/about

  #photos.hd
    div(class='category category-gallery')
      h2
        a(href=url_for('gallery')) recent gallery photos

      +get-recent(gallery, 8)

block alt
  section#alt.alt
    .container
      each category in collections
        if category.show
          - var name = category.name
          .category
            a(href=url_for(name), class='btn block full non-tablet') view #{name}…
            a(href=url_for(name), class='btn block abbrv tablet') #{name}
