extends base
include _mixins/aside

block nav
  +navbar(site.name)

block content
  #intro
    - var srcset = get_srcset('pycon', {ext: 'png', source: 'local'})
    - var src = get_src('pycon', null, {ext: 'png', source: 'local'})
    - var img_sizes = '(min-width: 640px) 33vw, 100vw'
    - var title = 'Reuben Cummings giving a talk on stream processing'

    img(class='cover logo', title=title, sizes=img_sizes, srcset=srcset, src=src, alt=title)

    .text
      .title
        h1= site.title
        p= site.subtitle

      div(class='non-hd one-col')
        include _partials/index-text

      div(class='hd two-cols')
        include _partials/index-text

  #podium
    include _partials/upcoming

  #categories
    each category in collections
      if category.show
        div(class='category category-' + category.name)
          h2
            a(href=url_for(category.name))= category.name

          +get-featured(category)

  #recents
    each category in collections
      if category.show
        div(class='category category-' + category.name)
          .lapdesk
            +get-recent(category, category.count, category.filterby)

block alt
  section#alt.alt
    .container
      each category in collections
        if category.show
          - var name = category.name
          .category
            a(href=url_for(name), class='btn block full non-tablet') view #{name}…
            a(href=url_for(name), class='btn block abbrv tablet') #{name}
