extends base
include _mixins/navbar
include _mixins/aside
include _mixins/utils

block nav
  +navbar(gallery.name)

block title
  include _partials/title

block content
  - var postdate = format_date(page.date, 'MMM D, YYYY')
  - var postISO = page.date.toISOString()
  - var month = format_date(page.date, 'MM')
  - var href = archive.name + '/' + page.date.getFullYear() + '/' + month

  ul.breadcrumb
    li.non-mobile
      a(href=site.url)= site.title

    li
      a(href=url_for(gallery.name))= gallery.title

    li= page.title

  article.article(itemscope itemtype='http://schema.org/Article')
    h2.non-mobile(itemprop='name')= page.title
    p(class='small non-mobile', itemprop='datePublished', content=postISO)
      | taken by #{site.author} on&nbsp;
      a(href=url_for(href))= postdate
      if page.location
        |&nbsp;in #{page.location}

    .photo
      +get-link(page, 'lg')
      figcaption= page.description

    p(class='small mobile', itemprop='datePublished', content=postISO)
      | taken by #{site.author} on&nbsp;
      a(href=url_for(href))= postdate
      if page.location
        |&nbsp;in #{page.location}

    include _partials/photo-meta

    .tags
      +list-tags(page.tags)

    footer.article-footer
      include _partials/post-updated
      include _partials/post-nav

block aside
  aside#aside
    +get-related(gallery.count)
    +get-featured(gallery, gallery.count)
    +get-recent(gallery, gallery.count)
