extends base
include _mixins/navbar
include _mixins/aside
include _mixins/utils
include _mixins/form
include _mixins/excerpts

block title
  include _partials/title

block nav
  +navbar(page.name)

block content
  - var collection = locals[page.name]
  include _partials/collection-breadcrumb

  #category
    h1(class='category-title non-mobile')= page.title

    - var srcset = get_srcset('kodi2', {ext: 'png', source: 'local'})
    - var src = get_src('kodi2', null, {ext: 'png', source: 'local'})
    - var img_sizes = '(min-width: 1024px) 66vw, 100vw'

    .photo
      img.fit(title=site.author, sizes=img_sizes, srcset=srcset, src=src, alt=site.author)

    .excerpts
      div(class='category-tags non-mobile')
        +list-tags(tags_by_collection(collection))

      .category-items
        - var upcomingEvents = collection.pagination ? upcoming(page.data) : upcoming(collection.data)
        - var pastEvents = collection.pagination ? past(page.data) : past(collection.data)

        if upcomingEvents.length
          h2 Upcoming Events
          br

          .upcoming
            for talk in upcomingEvents
              +podium-excerpt(talk)

        if pastEvents.length
          h2 Past Appearances
          br

          .past
            for talk in pastEvents
              +podium-excerpt(talk)

block aside
  aside#aside
    +subscription(podium, 'index')
    +get-featured(podium, podium.count)
    +get-recent(podium, podium.count)

block paginator
  include _partials/paginator
