extends base
include _mixins/navbar
include _mixins/aside
include _mixins/utils

block nav
  +navbar(page.collection)

block title
  include _partials/title

block content
  - var postdate = format_date(page.date, 'MMM D, YYYY')
  - var month = format_date(page.date, 'MM')
  - var href = archive.name + '/' + page.date.getFullYear() + '/' + month

  ul.breadcrumb
    li
      a(href=site.url)= site.title

    li
      a(href=url_for(page.collection))= page.collection

    li= page.title

  article.article(itemscope itemtype='http://schema.org/Article')
    - var readtime = min2read(page.markdown)

    h2(itemprop='name')= page.title
    p.small(itemprop='datePublished', content=page.date.toISOString())
      | written by #{site.author} on&nbsp;
      a(href=url_for(href))= postdate
      |&nbsp;~ #{readtime} minute read

    div(class='content one-col', itemprop='articleBody')
      != page.html

    div(class='content two-cols', itemprop='articleBody')
      != page.html

    .tags
      +list-tags(page.tags)

    footer.article-footer
      include _partials/post-updated
      include _partials/post-nav

block aside
  aside
    +get-related(5)
    +get-featured(blog, 5)
    +get-recent(blog, 5)
