extends base
include _mixins/navbar
include _mixins/aside
include _mixins/utils
include _mixins/github-card
include _mixins/blog-excerpt

block title
  title #{page.tag} | #{site.title}

block nav
  +navbar('tags')

block content
  ul.breadcrumb
    li
      a(href=site.url)= site.title

    li
      a(href=url_for('tagged'))= 'tagged'

    li= page.tag

  #category
    h1.tag-title= page.tag

    each post in page.pagination.files
      case post.collection
        when 'blog'
          .excerpts
            +blog-excerpt(post)
        when 'projects'
          +github-card(post)
        when 'gallery'
          +get-link(post, 'lg', true)

block aside
  aside
    each category in collections
      if category.show
        +get-featured(category, category.count)
