extends base
include _mixins/navbar
include _mixins/aside
include _mixins/utils
include _mixins/github-card
include _mixins/blog-excerpt

block title
  title #{page.name} | #{site.title}

block nav
  +navbar(tagz.name)

block content
  ul.breadcrumb
    li.non-mobile
      a(href=site.url)= site.title

    if page.slug
      li
        a(href=url_for(tagz.homePath))= tagz.past

      if page.pagination
        - var href = tagz.past + '/' + page.slug

        if page.num == 1
          li= page.slug
        else
          li
            a(href=url_for(href))= page.slug

        li page #{page.num} of #{page.pagination.totalPages}
      else
        li= page.slug
    else if page.pagination
      if page.num == 1
        li= tagz.homePath
      else
        li
          a(href=url_for(tagz.homePath))= tagz.homePath

      li page #{page.num} of #{page.pagination.totalPages}
    else
      li= tagz.homePath

  #category
    - var untagged = page.slug === 'untagged'

    .non-mobile
      if untagged
        h1.tag-title untagged
      else if page.slug
        h1.tag-title #{tagz.past} #{page.slug}
      else
        h1.tag-title= tagz.name

    .tag-category
      for tag in page.data
        .tag-slug
          unless page.slug
            h2
              a(href=url_for(tag.path))= tag.slug

        .tag-content
          for post in tag.files
            case post.collection
              when 'blog'
                +blog-excerpt(post)
              when 'projects'
                +github-card(post)
              when 'gallery'
                +get-link(post, 'lg', true)

block aside
  aside#aside
    +get-site(tagz, 2)
    +get-site(archive)

block paginator
  include _partials/paginator
