include utils

mixin truncate-posts(posts, count, name, size='sm', thumbnail=true, force)
  - var truncated = posts.slice(0, count)
  - var gtOne = truncated.length && count && count > 1

  if gtOne && ['gallery', 'friends', 'family'].indexOf(name) > -1
    .gallery
      each post in truncated
        +get-link(post, size, thumbnail)
  else if gtOne
    ul.bordered-count
      each post in truncated
        li
          +get-link(post, size, thumbnail)
  else if truncated.length
    - var post = truncated[0]
    - var thumbnail = (thumbnail && force) ? 'true' : false

    if thumbnail
      +get-link(post, size, thumbnail)
    else if post.datetaken && post.title
      h4
        a(href=url_for(post.path))= post.title

      +get-link(post, size, thumbnail)
    else
      h4
        +get-link(post, size, thumbnail)

    if post.less
      p !{post.less.toString()}

    if name == 'blog'
      a.link(href=url_for(post.path)) read full post

mixin get-recent(category, count, filterby)
  +pluralize('recent', category, count)
    +truncate-posts(get_recent(category, filterby), count, category.name, false)

mixin get-random(category, count, filterby)
  +pluralize('random', category, count)
    +truncate-posts(get_random(category, filterby), count, category.name)

mixin get-related(count)
  - var category = locals[page.collection]

  +pluralize('related', category, count)
    +truncate-posts(get_related(category, page), count, category.name)

mixin get-mentioned(count, collection, curPage, size='sm', thumbnail=true, force)
  -
    var category = locals[collection]
    var _page = curPage || page
    var mentioned = get_mentioned(category, _page)

  +truncate-posts(mentioned, count, category.name, size, thumbnail, force)

mixin get-featured(category, count)
  +pluralize('featured', category, count)
    +truncate-posts(get_featured(category), count, category.name)

mixin get-site(collection, minCount=1, format='MMM &lsquo;YY')
  if collection.name == 'archive'
    +pluralize('site', collection, 2)
      ul.inline-list
        for period in collection.data
          if period.date && period.files.length >= minCount
            - var label = format_date(period.date, format)

            li.archive-list-item
              a.archive-list-link(href=url_for(period.path)) !{label}
                span.archive-list-count= period.files.length
  else if collection.name == 'tagz'
    +pluralize('site', collection, 2)
      ul.inline-list
        for tag in collection.data
          - var isHidden = hidden.indexOf(tag.name) > -1

          if !isHidden && tag.sanitizedLength >= minCount
            li.archive-list-item
              a.archive-list-link(href=url_for(tag.path))= tag.name
                span.archive-list-count= tag.sanitizedLength
  else
    +pluralize('site', blog, 2)
      ul.inline-list
        for category in collections
          if category.show
            li.archive-list-item
              a.archive-list-link(href=url_for(category.name))= category.name
                span.archive-list-count= category.data.length
