include aside
include utils

mixin github-card(project)
  .github-card
    .header
      strong.name
        a(href=url_for(project.path))= project.title
        sup.language= project.language || 'n/a'
      a(class='button laptop', href=project.html_url, target='_blank', rel='noopener noreferrer') ★ Star

    .content
      +get-mentioned-photos(1, project, 'sm', true, true)

      if project.description
        p= project.description
      else
        p= project.contents

      if project.tags
        +list-tags(project.tags)

    .footer
      span.status <strong>#{project.stargazers_count || 0}</strong> Stars
      span.status <strong>#{project.forks || 0}</strong> Forks
