mixin get-link(post, size='sm', thumbnail)
  if post.datetaken
    - var srcset = get_srcset(post)
    - var _class = thumbnail ? 'thumb' : ''

    if thumbnail && size == 'lg'
      - var img_sizes = '(min-width: 1024px) 21vw, 33vw'
      - var src = build_flickr_url(post, '_m')
    else if thumbnail
      - var img_sizes = '(min-width: 640px) 13vw, 33vw'
      - var src = build_flickr_url(post, '_q')
    else if size == 'lg'
      - var img_sizes = '(min-width: 1024px) 66vw, 100vw'
      - var src = build_flickr_url(post, '_b')
    else
      - var img_sizes = '(min-width: 640px) 50vw, 100vw'
      - var src = build_flickr_url(post, '_z.jpg')

    a(href=url_for(post.path), class=_class)
      img.fit(sizes=img_sizes, srcset=srcset, src=src, alt=post.title)
  else if post.description
    a(href=url_for(post.path)) #{post.title}: #{post.description}
  else
    a(href=url_for(post.path))= post.title

mixin list-tags(tags, size)
  if tagz && tags && tags.length
    ul(class='inline-list tag-list')
      for tag in tagz.data
        if tags.indexOf(tag.name) > -1
          - var href = url_for(tag.path)
          li
            if size
              a(class='tag tag-#{size}', href=href, itemprop='articleSection')= tag.name
            else
              a.tag(href=href, itemprop='articleSection')= tag.name

mixin pluralize(type, category, count)
  if count && count > 1
    div(class='aside ' + type + ' ' + type + '-' + category.plural)
      h3 #{type} #{category.plural}
      block
  else
    div(class='aside ' + type + ' ' + type + '-' + category.singular)
      h3 #{type} #{category.singular}
      block
